@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
}

a{
    text-decoration: none;
}

body{
    background-color: #ffffff;
}



/*-----------------------------------------------------------------------------------------------------------
   Estilo do menu do topo      */

.logo{
    width: 250px;
    position: fixed;
    z-index: 2;
}

.logo p{
    height: 100%;
    color: #67E0F5;
    text-align: center;  
    font-family: 'Mansalva', cursive;
    font-size: 30px;
    user-select: none;
}

.botão1{
    height: 100%;
    display: flex;
    position: fixed;
    right: 25px;
    top: 15px;
    z-index: 2;
}

#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background-color: #67E0F5;
    transition: 0.25s ease-in-out;
}


label span:nth-child(1){
    top: 0px;
}
label span:nth-child(2){
    top: 8px;
}
label span:nth-child(3){
    top: 16px;
}


#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){ 
    opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

.options{
    display: none;  
}

.ativo{
    width: 20%;
    position: fixed;
    z-index: 1;
    user-select: none;
    right: 0px;
}

.ativo ul{
    width: 100%;
    list-style-type: none; 
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.048);
}

.ativo li{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;

}

.ativo a{
    color: #67E0F5;
    display: block;
    height: 100%;
    font: bold;  
    padding: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.911);

}

.ativo a:hover{
    color: rgb(255, 255, 255);
    background-color: #99f2e5ff;
    display: inline-block;
    padding: 30px;
    transition: 0.2s linear;  
    height: 100%;
}

.drop ul{
    position: absolute;
    display: none;
    width: 100%;
    right: 100%;
    top: -2px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.048);
}

.drop li{
    background-color: rgba(255, 255, 255, 0.950);
    z-index: 1;
}

.drop:hover ul{
    display: block;
}



/*-----------------------------------------------------------------------------------------------------------
   Estilo do conteúdo      */

.conteudo{
    top: 60px;
    width: 100%;
    user-select: none;
    position: absolute;
}

.imgtop{
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    position: relative;
}

.imgtop img{
    width: 100%;
    min-height: 80vh;
    mask-position: absolute;
    margin: -120px 0 0 0px;
   
}

.imgtop h2{
    width: 100%;
    font-size: 100px;
    color: white;
    padding-left: 2%;
    background-color: rgb(0, 0, 0,0.2);
    user-select: none;    
    position: absolute;
    font-size: 80px;
    bottom: 0px;
}
