@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 16px;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(245, 245, 245);
}



/*-----------------------------------------------------------------------------------------------------------
   Estilo do menu do topo      */


.top{
    background-color: white;
    width: 100%;
    min-height: 60px;
    position: fixed;
    opacity: .90;
    /*box-shadow: 0px 0px 1px rgb(182, 182, 182);*/
}

.logo{
    left: 5%;
    width: 150px;
    height: 100%;
    position: absolute;

}

.logo p{
    height: 100%;
    color: #67E0F5;
    text-align: right;  
    font-family: 'Mansalva', cursive;
    font-size: 25px;
    user-select: none;
    padding: 12px;
    position: absolute;
}

.options{
    height: 100%;
    width: 550px;
    right: 0px;
    top: 0;
    position: absolute;
}

.options ul{
    list-style-type: none;
    height: 100%;  
    position: absolute;
    text-align: center;
    right: 0;
}

.options ul{
    position: relative;
    display: inline;
    height: 100%;
}

.options li{
    display: inline-block;
    height: 100%;
    position: relative;

}

.options ul li a{
    color: black;
    display: block;
    height: 100%;
    font: bold;  
    padding: 20px;

}

.options li a:hover{
    color: white;
    background-color: #67E0F5;
    display: inline-block;
    padding: 20px;
    transition: 0.2s linear;  
    height: 100%;
}

.drop ul li a{
    color: black;
    display: block;
    height: 100%;
    font: bold;  
    width: 100%;
}

.drop ul{
    position: absolute;
    display: none;
    width: 100%;
}

.drop li{
    display: block;
    background-color: white;
}

.drop:hover ul{
    display: block;
}

/*-----------------------------------------------------------------------------------------------------------
   Estilo do conteúdo      */

.conteudo{
    position: relative;
    z-index: -1;
    top: 60px;
    width: 100%;
}

/*-----------------------------------------------------------------------------------------------------------
   Estilo do carrossel      */
.vitrine{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 70vh;
    background-color: rgb(245, 245, 245);

}
.carrosel{
    width: 70vw;
    height: 70vh;
    overflow: hidden;

}

.container{
    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);


}



.itensvitrine{
    min-width: 70vw;
}
